@import url("https://fonts.googleapis.com/css?family=Courier+Prime");

.navbar-brand {
    max-width: 4rem;
    margin-right: 2rem;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
    max-width: 4rem;
}

.navbar-brand h1 {
    font-family: "Courier Prime", sans-serif;
}

.mainSplashImage {
    width: 75%;
}
